PORT=3000

DEBUG=true

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_NAME=forms
DB_USER=forms
DB_PASSWORD=root

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

CORS_ORIGIN=http://localhost:3001

STORAGE_PATH=storage
UPLOAD_MAX_SIZE_MB=10

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

REDIS_URL="redis://${REDIS_HOST}:${REDIS_PORT}"

JOB_CONCURRENCY=2
JOB_MAX_ATTEMPTS=3
